* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    display: flex;
    border: 1px solid red;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.reversed {
    flex-direction: row-reverse;
}

li {
    flex: 1;
}

li:nth-child(1) {
    background: rgb(255, 5, 5);
    color: hotpink;
}

.yellow {
    color: yellow;
}



li:nth-child(2) {
    background-color: rgb(255, 200, 0);
    flex: 2;
}
li:nth-child(3) {
    background-color: rgb(162, 255, 0);
    flex: 3;
}
li:nth-child(4) {
    background-color: rgb(47, 255, 0);
    flex: 4;
}
li:nth-child(5) {
    background-color: rgb(0, 255, 123);
    flex: 5;
}
li:nth-child(6) {
    background-color: rgb(0, 238, 255);
    flex: 6;
}
li:nth-child(7) {
    background-color: rgb(0, 174, 255);
    flex: 7;
}
li:nth-child(8) {
    background-color: rgb(0, 94, 255);
    flex: 8;
}
li:nth-child(9) {
    background-color: rgb(119, 0, 255);
    flex: 9;
}
li:nth-child(10) {
    background-color: rgb(200, 0, 255);
    flex: 10;
}
